@tailwind base;
@tailwind components;
@tailwind utilities;

/* Force Dark Theme */
:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --font-poppins: "Poppins", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}
